.deploy_key
.deploy_key.pub

doc/apidoc/*

*~
*#
*.swp
#*
*.pyc
*__pycache__
dripline.egg-info/*
build/*
doc/_build/*
.eggs/*
examples/kv_plugin_example/kv_plugin.egg-info/*
*.egg
*.so*
version.py
dripline.sublime-workspace

# generated source files
dripline/version.py

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.project
.cproject
.settings/

# VSCode
.vscode/

# Build directories
build*/

# Virtual environment
venv/

# Pycharm
.idea
